<script src="~/Scripts/LoadGameData.js" type="text/javascript"></script>
@{
    ViewBag.Title = "Index";
}
<script>
</script>
<h2>Index</h2>

<button onclick="location.href='@Url.Action("Game", "Play")'">Quick Match</button>
<h1>PLAYING GAMES HERE IS NOT SUPPORTET AT THE MOMENT</h1>
@*<button href="@Url.Action("FreeForAll", "Play")">Free-4-all</button>*@



