<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:80/DuplexGameService"
                binding="wsDualHttpBinding"
                contract="MineSweeper.Service.Proxy.IGameService"
                name="duplexGameService">
      </endpoint>

      <endpoint address="http://localhost:80/test"
                binding="wsHttpBinding"
                bindingConfiguration=""
                contract="MineSweeper.Service.ServiceContracts.IAccountService"
                name="accountServiceClientSide">
      </endpoint>
      <endpoint address="net.pipe://localhost/AccountService"
              binding="netNamedPipeBinding"
              contract="MineSweeper.Service.ServiceContracts.IAccountService"
              name="accountService"/>
    </client>
    <services>
      <service name="MineSweeper.Service.GameService">
        <endpoint address="http://localhost:80/DuplexGameService"
                  binding="wsDualHttpBinding"
                  contract="MineSweeper.Service.ServiceContracts.IGameService"/>
      </service>
      <service name="MineSweeper.Service.AccountService">
        <endpoint address="http://localhost:80/test"
                  binding="wsHttpBinding"
                  contract="MineSweeper.Service.ServiceContracts.IAccountService"/>

        <endpoint address="net.pipe://localhost/AccountService"
                  binding="netNamedPipeBinding"
                  contract="MineSweeper.Service.ServiceContracts.IAccountService"/>
      </service>
    </services>
    <bindings>
      <wsDualHttpBinding>
        <binding maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="2000000"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>
          <security mode="None">
          </security>
        </binding>
      </wsDualHttpBinding>
      <wsHttpBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <security mode="None">
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <connectionStrings>
    <add name="localDB" connectionString=""/>
    <add name="krakaDB" connectionString=""/>
  </connectionStrings>
</configuration>